@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap");

:root {
  --tag-color: linear-gradient(to right, #de6161, #2657eb);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  color: #fff;
}

/* Navbar */
.nav {
  margin-top: 30px;
  height: 80px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.collapse {
  height: 400px;
}

.nav h1 {
  font-size: 2rem;
  margin: 1rem;
}

.nav .title,
.nav .social {
  flex: 1;
  text-align: center;
}

.nav .menu {
  flex: 4;
}

.nav .container {
  position: relative;
}

.nav .container .toggle-collapse {
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
  cursor: pointer;
}

.nav .menu li {
  margin: 1rem;
}

.nav .social a {
  padding: 0 0.5rem;
}

/* Main header */
.main-header {
  height: 110vh;
  background-image: url(/images/bg/bg-header.jpg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
}

.main-header .main-header-content {
  margin-top: 30vh;
  text-align: center;
}

.main-header h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin: 0.3rem;
  line-height: 3rem;
}
.main-header button {
  margin-top: 2rem;
  width: 60%;
  font-size: 1.5rem;
  background-color: transparent;
  border: 0.15rem solid #fff;
  color: #fff;
  transition: all 0.1s linear;
}

.main-header button:hover {
  cursor: pointer;
  border-radius: 2rem;
  width: 50%;
}

/* Case Carousel */
.case {
  /* margin-top: 100px; */
  background-image: url(/images/bg/bg-case.jpg);
  background-size: cover;
  background-position: center;
  height: 110vh;
  width: 100%;
}

.case .container {
  text-align: center;
}

.case .container h1 {
  font-size: 3rem;
  margin-top: 4rem;
}

.case .case-post {
  margin-top: 3rem;
  padding-top: 6rem;
}

.case .case-post .case-content {
  width: 80%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin: 3rem 2rem;
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
}

.case-post .case-content img {
  border-radius: 1rem 1rem 0 0;
}

.case-post .case-content h3 {
  display: block;
  height: 2.4rem;
  font-size: 1.2rem;
  color: fff;
  margin: 1rem;
}
.case-post .case-content p {
  display: inline-block;
  width: 50%;
  background: #fff;
  padding: 0.5rem 1rem;
  color: #222;
  margin: 1rem;
  border-radius: 2rem;
}

.case .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: #fff;

  background: transparent;
  border-radius: 50%;
  font-size: 4rem;
  margin: 0 1rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  color: rgb(100, 59, 5);
  background: transparent;
}

.owl-theme .owl-nav [class*="owl-"] {
  outline: 0;
}

/* WaveBox */

.wave-box {
  /* height: 110vh; */
  background-image: url(/images/bg/bg-wavebox.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
}

.wave-box-info {
  display: inline-block;
  text-align: center;
}
.wave-box-info h1 {
  margin-bottom: 2rem;
}

.wave-box-info h3 {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.wave-box-info p {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1rem;
}

.wave-box-grid .wave-box-card {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: #fff 2px solid;
  height: 100%;
}

.wave-box .wave-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 90%;
  gap: 30px 20px;
}

.wave-box-card img {
  display: inline-block;
  width: 100%;
}

/* Future */
.future {
  text-align: center;
  padding: 10vh 0;
  margin-top: 10vh;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.future .grid {
  grid-template-columns: 70% 30%;
}

.future h3 {
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0.5rem auto;
}

.future .my-word img {
  width: 100%;
}

.future .my-skill {
  height: 100%;
  text-align: center;
  text-justify: initial;
}

.future .my-skill .card-container .my-skill-card {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0.4rem 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.future .my-skill .flex {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.future .my-skill h2 {
  margin: 2rem 0;
}

/* Suggestion */
.suggestion {
  background-image: url(/images/bg/bg-suggestion.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;
  width: 100%;
  padding: 10vh 0;
}

.suggestion .container {
  width: 80%;
}

.suggestion .flex {
  flex-direction: column;
}

.suggestion .container .suggestion-card .card {
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  text-align: start;
}

.suggestion .issue {
  display: inline-block;
  background: rgba(255, 0, 0, 0.5);
  color: #fff;
  line-height: 1.5rem;
  font-weight: bolder;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

.suggestion .solution {
  display: inline-block;
  line-height: 1.5rem;
  font-weight: bolder;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

/* Footer */
.my-footer {
  width: 100%;
  border-top: 2px solid #fff;
}

.my-footer .container {
  margin: 2rem auto;
}

.my-footer .copyright {
  margin-bottom: 1rem;
}

.my-footer img {
  width: 50%;
}

.my-footer {
  text-align: center;
}

.my-footer .title h1 {
  margin: 1.5rem;
}

.my-footer .social h2 {
  padding: 1rem;
  margin-bottom: 0.3rem;
}

.my-footer .social img {
  border-radius: 50%;
}

/* Moblie */
@media (max-width: 850px) {
  /* Navgation */
  .nav .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav .container .social {
    flex-direction: row;
    padding: 0 1rem;
  }

  .nav .container .toggle-collapse {
    display: inline;
  }

  .nav .menu li {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .nav .menu li:first-child {
    margin-top: 2rem;
  }
  .nav .menu li:last-child {
    margin-bottom: 2rem;
  }

  /* WaveBox */
  .wave-box .wave-box-grid {
    grid-template-columns: 1fr;
  }

  /* Future */
  .future .grid {
    grid-template-columns: 1fr;
  }

  /* My Footer */
  .my-footer .grid-3 {
    grid-template-columns: 1fr;
  }
}
